*.DS_Store
*__pycache__/
*.pth
*.pt

#node_modules
emotion-ui/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React dev tools artifacts
emotion-ui/.cache
emotion-ui/.parcel-cache